<nav>
  
 

  <nav style= "background: #cbdc00;" class="navbar navbar-solid-transition">
   
      <div style= "background: #cbdc00;" class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <a href="/schedules" class="brand-logo"><img src= "https://runtrixapi.com/2017/images/NYRR/NYRRlong.png">
      </i></a>

    <li><a style= "color: black;" href="/schedules/new" class="waves-effect waves-light btn-large">Add Workout</a></a></li>
    <li><a style= "color: black;" href="/schedules/log" class="waves-effect waves-light btn-large">Log A Run</a></a></li>
    <li><a style= "color: black;" href="/schedules/stats" class="waves-effect waves-light btn-large">Dashboard</a></a></li>
 
  </ul>
      <!--Import Google Icon Font-->

<ul id="pages" class="dropdown-content">
 
</ul>

</div>
</nav>
<ul id="slide-out" class="sidenav">
<li class="no-padding">
<ul class="collapsible collapsible-accordion">
  <li class="bold">
 
    <div class="collapsible-body">
      <ul>
   
      </ul>
    </div>
  </li>
</ul>
</li>

      <!--Let browser know website is optimized for mobile-->
  

     <!-- Compiled and minified JavaScript -->
     
      
</nav>
<style>
title {


font-family: 'Monument Extended', sans-serif;
}

@font-face {
  font-family: 'monument_extendedregular';
  src: url('monumentextended-regular-webfont.woff2') format('woff2'),
       url('monumentextended-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
</style>