<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="css/startup-materialize.min.css">
<link rel="icon" href="/assets/$.png">
    <%- include ('../partials/head.ejs') -%>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>

         <!--JavaScript at end of body for optimized loading-->
         <script type="text/javascript" src="js/materialize.min.js"></script>
     
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
 
</head>
  <body>
    <nav>

     
        
  
         
          
            <%- include ('../partials/header.ejs') -%>
    
  

      </nav>
   
       <body>
   

    <div class="container">
      <h2>Add Your Completed Workouts🏃‍♀️🏃</h2>

        <div class="jumbo">
          <form class="edit" action="/schedules" method="POST">
            <label for="weeknumber">Training Plan Week: </label>
            <input type="number" name="weeknumber" value="" required id="weeknumber">
            <label for="sunday">Sunday Workout: </label>
            <input type="text" name="sunday" value="" required id="sunday">
            <label for="monday">Monday Workout: </label>
            <input type="text" name="monday" value="" required id="monday">
            <label for="tuesday">Tuesday Workout: </label>
            <input type="text" name="tuesday" value="" required id="tuesday">
            <label for="wednesday">Wednesday Workout: </label>
            <input type="text" name="wednesday" value="" required id="wednesday">
            <label for="thursday">Thursday Workout: </label>
            <input type="text" name="thursday" value="" required id="thursday">
            <label for="friday">Friday Workout: </label>
            <input type="text" name="friday" value="" required id="friday">
            <label for="saturday">Saturday Workout: </label>
            <input type="text" name="saturday" value="" required id="saturday">
            <label for="img">Add An Image Link: </label>
            <input type="text" name="img" value="" id="img">
            <label for="description">Notes: </label>
            <textarea name="description" value="" id="description"></textarea>
            <label for="price"> Total Miles Completed </label>
            <input type="number" name="price" min="0" step=".01" value="0" id="price">
       
            <input type="submit" name="submit" value="submit" class="edit-button">
          </form>
        </div>
    </div>


    <div class="container">
      <h2>Add To Your Completed Races</h2>

        <div class="jumbo">
          <form class="edit" action="/schedules" method="POST">
            <label for="img2">Add An Image Link: </label>
            <input type="text" name="img2" value="" id="img2">
            <label for="text">Name of Race: </label>
            <textarea name="text" value="" id="text"></textarea>
          
       
            <input type="submit" name="submit" value="submit" class="edit-button">
          </form>
        </div>
    </div>
    
  </body>
</html>
<style>
    
  body, nav, html, div.jumbo {
background: black;
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
</style>